
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    
    
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    background: red;
    box-shadow: 0 10px 20px blue(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}
.navbar-logo{
    font-size: 2rem;
    font-weight: 600;
    color: blue;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 70%;
    margin: 30px;
}
.navbar-container .navbar-menu{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}
.navbar-container .navbar-menu li a{
    text-decoration: none;
    color: blue;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
}
.navbar-container .navbar-menu li a:hover, .navbar-container .navbar-menu li a.active{
    color: white;
    
    
}
.navbar-toggle{
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;    
    margin: 5px auto;
    background: white;
    transition: all 0.3s ease-in-out;
}
@media (max-width: 880px){
    .navbar{
        backdrop-filter: none;
    }
    .navbar-container .navbar-menu{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px black(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }
    .navbar-container .navbar-menu.active{
        display: flex;
    }

    .navbar-toggle{
        display: block;
        z-index: 999;
    }
    .navbar-toggle.active .bar:nth-child(2){
        opacity: 0;
    }
    .navbar-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .navbar-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}
@media (max-width:480px){
    .navbar-container{
        padding: 0 1rem;
    }
    .navbar-logo{
        font-size: 1.7rem;
    }
    .navbar-container .navbar-menu li a{
        font-size: 1.2rem;
        padding: 3px 15px;
    }
}
img{
    width: 35%;
    height: 70%;   
}

.dropdown-menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: red;
}
.dropdown-menu ul{
    display: block;
    margin: 10px;
    
}
.dropdown-menu ul li{
    width: 80px;
    padding: 4px;
    font-size: 5px;
}
.nav-bar{
    color: white;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    justify-items: center;  
    text-decoration: none;  
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 10px;
    font-weight: 17px;
}
.container>div{
    flex: 100%;

}
.sub-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.news{
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 50px;
    border-radius: 3px;
}
h2{
    font-size: 40px;
    padding: 8px;
}
.sidebar{
    flex: 1;
    background-color: whitesmoke;
    border-bottom: 5px solid red;
    border-top: 5px solid red;

}
.main-container{
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.main-container>div{
    flex: 100%;
}
h4{
    padding: 10px;
}
.main{
    min-height: 450px;
    background: skyblue;    
}
.main2{
    min-height: 450px;
    background: whitesmoke;  
    margin: 10px; 
    min-width: 100%;

}
.content{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.content1, .content2, .content3{
    min-height: 200px;
    background: rgb(100, 104, 104);
    flex: 1;
}
.sidebar, .main, .content>div{
    display: flex;
    justify-content: center;
    border-radius: 3px;
}
.img2{
    width: 100%;
    height: 100%; 
    flex: 4;
}
.my-content{
    margin: 20px auto 20px 10px ;
}

@media only screen and (max-width: 768px){
    .sub-container{
        flex-direction: column;
    }
    .sidebar{
        min-height: 50px;
    }
}
@media only screen and (max-width: 550px){
    .content>div{
        flex: 100px;
    }
    .content1, .content2, .content3{
        min-height: 170px !important;
    }
    
}
.shop-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 10px;
    margin: 20px auto 20px 10px;
    padding: 10px;
    
}
.shop1{
    background-color: orangered;
    color: black;
    height: 400px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s ease;
    flex-wrap: wrap;
    width: 300px;
    padding: 10px;
    margin: auto; 
}
h5{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: .5rem;
    color: white;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
    margin: 20px auto 20px 10px ;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.footer .social a{
    font-size: 25px;
    color: white;
    border: 2px solid orangered;
    width: 42px;
    height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    
    transition: 0.3s ease;
    padding: 5px;
    
}
.footer h2{
    padding: 20px;
    margin-bottom: 30px;
}

.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    color: orangered;
    border: 2px solid orangered;
}

.footer ul{
margin-top: 0;
padding: 0;
font-size: 18px;
line-height: 1.6;
margin-bottom: 0;
text-align: center;

}

.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li a:hover{
    border-bottom: 3px solid orangered;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
    
}

.footer p{
    margin-top: 40px;
    text-align: center;
    font-size: 12px;
    color: white;
    font-size: 15px; 
}


#pricing{
    height: 100vh;
    width: 600px;


}
#pricing h2{
    font-size: 40px;
    padding: 8px;
    margin: 10px;
    
}
#pricing p{
    color: #444;
    padding: 15px;
    font-size: 20px;
    padding-left: 1px ;
}



.pricing-cards-container{
    font-size: 20px;
    padding: 2px;
    display: flex;
    margin: 4px 4px 4px 4px;
    gap: 20px;
    justify-content: space-between;

    
}
.cards{
    margin: 8px;
    border-radius: 20px;
    box-shadow: 4px 3px 4px whitesmoke;
    height: 400px;
}
.cards .card-image{
    
    height: 200px;
    padding-right: 1%;
    border-color: #444;
    box-shadow: #444
}

.card-body{
    text-align: left;
    margin-left: 15px;
    padding-top: 1px;
    margin-top: 20px;
    padding-bottom: 1px;
    height: 130px;
    
}
.card-footer{
    display: flex;
    justify-content: space-between;
    
}
.card-footer p{
    font-weight: bold;
}
.card-image img{
    height: 350px;
    width: 250px;
    border-radius: 10px;
    
}
.btn{
    border-radius: 10px;
    width: 100px;
    height: 30px;
    padding: 5px;
    color: white;
    background-color: red;
    margin: 10px;
    
}
.btn:hover{
    color: orangered;
    border-color: orangered;
    background-color: white;

}
.card-body h5{
    font-weight: bold;
    font-size: larger;
    padding:10px;
    
}
.fee{
    padding: 8px;
    text-align: left;
    margin-left: 15px;
    font-size: 20px;
    color: black;
    
    
}
.drop-down{
    text-decoration: none;
    font-weight: 80px;
    text-decoration: none;
    color: blue;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
}
.drop-down:hover{
    color: white;
      
}



/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: BLUE; color: white;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.img3{
    width: 100%;
    height: auto;
    flex: 100%;    
}
.results {
    margin: 10px;
    align-items: center;
    display: inline-block;
    padding: 2px;
}
.img6{
    width: 110%;
    height: auto;
    display: flex;
    align-items: center;    
}
.day{
    display: flex;
    padding: 2px;
    margin: 20px auto;
    text-align: center;
    font-size: 15px;
    border-bottom: 2px solid red;
}
h5{
    color: black;
    font-size: 30px;
    font-weight: 50px;
}
h5:hover{
    color: red;
}
h4{
    margin: 2px;
}
h1{
    position: absolute;
    margin-top: 550px;
    color: white;
    text-shadow: #04AA6D;
    font-size: 50px;
    font-weight: 70px;
    text-shadow: 2px 2px 5px blue;
}
.imagi{
    margin: 40px;
    display: inline-block;
    height: auto;
    width: 190px;
}
.imagi2{
    margin: 40px;
    display: inline-block;
    height: auto;
    width: 190px;
}
#team{
    color: #444;
    padding: 15px;
    font-size: 20px;
    padding-left: 1px ; 
}

#team{
height: 100vh;
width: 600px;

}
#pricing h2{
    font-size: 40px;
    padding: 8px;
    margin: 10px;
    
}
.name{
    color: #444;
    padding: 15px;
    font-size: 20px;
    padding-left: 1px ;
}



.card-team{
    font-size: 20px;
    padding: 2px;
    display: flex;
    margin: 4px 4px 4px 4px;
    gap: 20px;
    justify-content: space-between;
    
    
}
.card{
    margin: 8px;
    border-radius: 20px;
    box-shadow: 4px 3px 4px whitesmoke;
    height: 300px;
}
.card .card-img{
    
    height: 200px;
    padding-right: 1%;
    border-color: #444;
    box-shadow: #444
}

.card-team{
    text-align: left;
    margin-left: 15px;
    padding-top: 1px;
    margin-top: 20px;
    padding-bottom: 1px;
    height: 130px;
    
}
.card-foot{
    display: flex;
    justify-content: space-between;
    
}
.card-image img{
    height: 350px;
    width: 250px;
    border-radius: 10px;
}
#result-container{ 
    max-width: 900px; 
    align-items: center;
    margin: 10px 50px;

}
#result-container .day{
    background: whitesmoke;
    height: 300px;
    display: block;
}
.date{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid red;
}
#result-container .img6 img{
    width: 15%;
    height: 15%;
}
#result-container .img6{
    justify-content: center;
    margin-top: 30px;
}
#result-container .img6:hover{
    color: red;
}
.date p{
    font-size: 20px;
    font-weight: bold;
}
#result-container .img6 p{
    font-size: 30px;
}
#result-container h3{
    background: lightgray;
    height: 50px;
    padding: 10px;
    font-size: 25px;
    color: blue;
}#result-container h2{
    font-size: 60px;
    color: red;
}
.day .img6 h5{
    font-weight: bold;
    font-size: 50px;
}





